*.a
*.bundle
*.o
*.so
.DS_Store
.bundle/
/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
log/*.log
mkmf.log
pkg/
spec/dummy/.sass-cache
spec/dummy/db/*.sqlite3
spec/dummy/db/*.sqlite3-journal
spec/dummy/log/
spec/dummy/tmp/
